.page-enter-active,
.page-leave-active {
  transition: all 0.55s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

body {
  font-family: "Apercu Pro";
  background-color: #fefefe;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
}
.copyright {
  font-weight: 500;
  color: rgb(115, 115, 115);
  font-size: 12px;
  text-transform: uppercase;
}
.title {
  /*color: #2599d5;*/
  font-size: 50px;
  font-weight: bold;
}
.subhead {
  font-size: 14px;
  margin: 0;
}

.button {
  position: relative;
  border: 2px solid #e4e4e4;
  color: #111;
  text-decoration: none;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-weight: 500;
  z-index: 1;
  display: block;
  text-align: center;
  font-size: 1.2em;
  &:hover {
    border-color: #111;
    text-decoration: none;
    color: #2599d5;
  }
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 20px;
    right: 20px;
    background-color: #fee94e;
    z-index: -1;
    border-radius: 5px;
  }
}
.nuxt-link-exact-active {
  background: #ddd;
}
